{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="hero">

        <!--  La clase container nos permite limitar y centrar el contenido en el css-->
        <section class="hero__main container">

            <div class="hero__texts">
                <h1 class="hero__title">Titulo principal de la pagina</h1>
                <h2 class="hero__copy">Selectores, box model, Pseudocodigo, Flexbox y mas....</h2>
            </div>
    
            <figure class="hero__img">
                <img src="{% static 'images/dev.svg' %}" class="hero__picture">
            </figure>

        </section>

    </header>

    <main class="main">

        <section class="about__container container">
            <div class="about__texts">
                <h2 class="title">¿Quienes somos?</h2>

                <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint rem praesentium ratione delectus incidunt suscipit pariatur eius ab ipsa itaque, architecto perspiciatis, quisquam aperiam cumque.
                </p>

                <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint rem praesentium ratione delectus incidunt suscipit pariatur eius ab ipsa itaque, architecto perspiciatis, quisquam aperiam cumque.
                </p>

                <a href="#" class="about__cta">Únete al curso</a>

            </div>

            <figure class="about__img">
                <img src="{% static 'images/people.svg' %}" alt="" class="about__picture">
            </figure>

        </section>

    </main>
    
    <a href="#" class="fa-brands fa-square-facebook"></a>
    <a href="#" class="fa-brands fa-square-instagram"></a>
    <a href="#" class="fa-brands fa-square-twitter"></a>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2fbe28dbff.js" crossorigin="anonymous"></script>
</body>
</html>